@{
    ViewData["Title"] = "Lista Pizze";
}

@model List<Pizza>

<div>
    <table  class="table table-hover">
        <tr>
            <th class="col-2">Immagine</th>
            <th class="col-2">Nome</th>
            <th class="col-2">Desscrizione</th>
            <th class="col-2">Prezzo</th>
            <th class="col-2">Ingredienti</th>
        </tr>

        @foreach(Pizza pizza in Model)
        {
            <tr class="my-lg-2 ">
                <td><img src="@pizza.PhotoUrl" class="w-50"/></td>
                <td class="align-middle">@pizza.Name</td>
                <td class="align-middle">@pizza.Description</td>
                <td class="align-middle">@pizza.Price euro</td>
                <td class="align-middle"><a href="@Url.Action("Details","Pizza",new { id = @pizza.Id})">Visualizza</a></td>
             </tr>
        }
    </table>
</div>

